/* play-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v21-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* play-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v21-cyrillic_latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-100 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/roboto-v49-cyrillic_latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-200 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/roboto-v49-cyrillic_latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-300 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v49-cyrillic_latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v49-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --color-primary-light: #FFFFFF;
    --color-primary-dark: #011C44;
    --color-primary-accent: #2B7FFF;
    --color-secondary-dark-gray: #4A4A4A;
    --color-secondary-light-gray: #747272;
    --color-secondary-dark-blue: #011F4A;
    --color-secondary-yellow: #FFD02B;
}


/*----------BASE---------*/
* {
    box-sizing: border-box;
}

body {
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.7;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 24px;
}

/*---------- HEADER ---------*/

.header-container {
    display: flex;
    align-items: center;
    padding: 32px 100px;
}

.header-navigation {
    display: flex;
    gap: 240px;
}

.header-logo {
    color: var(--color-primary-accent);
    font-family: Play;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 1.04;
    text-transform: capitalize;
}

.header-list {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 56px;
    width: calc((100% - 3 * 56px) / 4);
}

.header-item {
    font-weight: 400;
    font-style: Regular;
}

.header-item:hover,
.header-item:focus {
    color: var(--color-primary-accent);
    font-weight: 700;
    font-style: Bold;
}

.header-social-list {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    margin-left: auto;
}

.header-social-icon {
    width: 32px;
    height: 32px;
    fill: var(--color-primary-dark);
}


/*---------- HERO SECTION ---------*/

/*---------- ABOUT US SECTION ---------*/

/*----------  ADVANTAGES SECTION ---------*/

/*---------- SERVICES SECTION ---------*/

/*---------- CONTACTS SECTION---------*/

/*---------- FOOTER ---------*/